.destination-section-offers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    margin-top: 6rem;
}

@media (max-width: 1292px) {
    .destination-section-offers {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 969px) {
    .destination-section-offers {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 646px) {
    .destination-section-offers {
        grid-template-columns: 1fr;
    }
}