.destination-section-lazt-load-button {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;

    margin-top: 5rem;
    color: var(--primary-color);
    background-color: #fff;
    border: 1.2px solid var(--primary-color);
    width: fit-content;
    padding: 1rem 5rem;
    border-radius: 2.5rem;
    cursor: pointer;
    font-family: var(--robotoMedium);
    transition: all 200ms linear;
}

.destination-section-lazt-load-button:hover {
    color: #fff;
    background-color: var(--primary-color);
}