.email-content-section-details {
    width: 79%;
    height: fit-content;

    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-content: flex-end; */
}

.email-content-section-details__title {
    font-family: var(--archivoBlack);
    font-size: 3rem;
}

.email-content-section-details__details {
    font-family: var(--robotoMedium);
}

@media (max-width: 1000px) {
    .email-content-section-details {
        width: 65%;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .email-content-section-details {
        width: 90%;
    }
}

@media (max-width: 460px) {
    .email-content-section-details {
        transform: scale(0.9);
    }
}

@media (max-width: 352px) {
    .email-content-section-details {
        transform: scale(0.8);
        width: 96%;
    }
}