.main-topics-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    margin-top: -13rem;
}

@media (max-width: 1302px) {
    .main-topics-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 656px) {
    .main-topics-section {
        grid-template-columns: 1fr;
    }
}